/* Reserve Apps CSS */

body {
  background-color: #f8f9fa;
}

h1 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  background-color: white;
  padding: 20px 0;
}

.form-label {
  font-size: .9rem;
}

.btn {
  padding: 10px;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0;
}

.table {
  background-color: white;
}

.card {
  border: none;
}

.card-title {
  font-size: 1rem;
  padding-bottom: 20px;
}

.complete-icon {
  font-size: 3rem;
  color: green;
}
